.header {
	width: 100%;
	max-width: 1440px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	align-items: center;
}
.headerItems_Container {
	display: flex;
	gap: 15px;
	color: white;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
	width: 250px;
}
.headerItem {
	cursor: pointer;
	padding: 1px;
	color: #9198a2;
}
.headerItem:hover,
.headerItem:focus {
	font-weight: 700;
	padding: 0;
	color: white;
}
.header img {
	width: fit-content;
}

@media (max-width: 480px) {
	.header img {
		width: 95px;
		height: fit-content;
	}
	.header {
		padding: 20px;
	}
}
